<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="MessageSettingsFromConfigSection"
        type="biz.dfch.CS.Examples.DI.StructureMap.Message.MessageSettingsFromConfigSection, biz.dfch.CS.Examples.DI.StructureMap"
        allowLocation="true"
        allowDefinition="Everywhere"
    />
    
    <section 
      name="PluginConfigurationSection" 
      type="biz.dfch.CS.Examples.DI.StructureMap.InjectionDependingOnAppConfig.PluginConfigurationSection, biz.dfch.CS.Examples.DI.StructureMap" 
      allowLocation="true" 
      allowDefinition="Everywhere" 
    />

    <section
      name="DefaultPluginSettings"
      type="biz.dfch.CS.Examples.DI.StructureMap.InjectionDependingOnAppConfig.DefaultPluginSettings, biz.dfch.CS.Examples.DI.StructureMap"
      allowLocation="true"
      allowDefinition="Everywhere"
    />


    <section
      name="AlphaPluginSettings"
      type="biz.dfch.CS.Examples.DI.StructureMap.InjectionDependingOnAppConfig.AlphaPluginSettings, biz.dfch.CS.Examples.DI.StructureMap"
      allowLocation="true"
      allowDefinition="Everywhere"
    />
  </configSections>
  <AlphaPluginSettings text="some crazy text" />
  <DefaultPluginSettings magicValue="it's magic" sepValue="this is the sep value"/>
</configuration>
