<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section 
      name="MessageSettingsFromConfigSection" 
      type="biz.dfch.CS.Examples.DI.StructureMap.Message.MessageSettingsFromConfigSection, biz.dfch.CS.Examples.DI.StructureMap" 
      allowLocation="true" 
      allowDefinition="Everywhere" 
    />
  </configSections>
</configuration>
